* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

row:after {
    clear: both;
}

nav {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    float: left;
}

nav > ul {
    list-style: none;
    width: 300px;
    height: 40px;
    overflow: hidden;
    float: left;
}

nav > ul > li {
    float: left;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    background-color: olive;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
}

.logo {
    float: right;
    background-color: olive;
    font-size: 32px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.top {
    height: 200px;
    background-color: pink;
    margin: 0 0 20px;
}

.first,
#second {
    background-color: sandybrown;
    height: 190px;
    overflow: hidden;
    padding: 1em;
}

#second {
    margin: -190px 0 0;
    top: 0;
}

#widget {
    background-color: lightgray;
    height: 400px;
    overflow: hidden;
    padding: 1em;
    margin-right: 0;
}

footer {
    width: 100%;
    background-color: brown;
    height: 40px;
    margin: 20px 0 0;
    clear: both;
}

@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    } 

    .column + .column {
        margin-left: 0;
    }
}