* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: auto;
}

nav {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    float: left;
}

nav > ul {
    list-style: none;
    width: 300px;
    height: 40px;
    overflow: hidden;
    float: left;
}

nav > ul > li {
    float: left;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    background-color: olive;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
}

.logo {
    float: right;
    background-color: olive;
    font-size: 32px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.top {
    width: 100%;
    height: 200px;
    background-color: pink;
    clear: both;
}

.wrapper {
    width: 100%;
    margin: 20px 0 0;
}

.first,
.second {
    float: left;
    width: calc(80% - 20px);
    background-color: sandybrown;
    margin-right: 20px;
    height: 190px;
    overflow: hidden;
    padding: 1em;
}

.first {

}

.second {
    margin: 20px 0;
}

.widget {
    float: right;
    width: 20%;
    background-color: lightgray;
    height: 400px;
    overflow: hidden;
    padding: 1em;
}

footer {
    width: 100%;
    background-color: brown;
    height: 40px;
    clear: both;
}